body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  background: url('/../resources/graphics/background.png') repeat;
}

#search-box {
  margin: 1em 1em 3em;
  padding: 1em;
  width: calc(100% - 2em);
  border: 2px solid #ccc;
  box-sizing: border-box;
}

.results-list {
  max-width: 350px;
  width: 100%;
  padding: 0 1em;
  margin: 0;
}
.results-list li {
  list-style: none;
  line-height: 1.5;
}
.results-list em {
  background: moccasin;
}
