// colour variables
$lightGrey: #D8D8D8;
$bdrGrey: #E6E6E6;
$activeBlue: #2897C5;

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  background: url('/../resources/graphics/background.png') repeat;
}

header {
  background-color: #1C688E;
}

h3 {
  font-weight: lighter;
}

main {
  background-color: #fff;
  display: flex;
}

aside, .main-container {
  padding: 40px;
}

aside {
  flex: 1;
  border-left: 1px solid $bdrGrey;
}

.main-container {
  flex: 4;
}



#search-box {
  margin: 21px 25px;
  padding: 10px;
  width: calc(100% - 50px);
  border: 2px solid #d6d6d6;
  color: #B3B3B3;
  box-sizing: border-box;
  height: 40px;
  border-radius: 3px;
  font-size: 15px;
}

.results-list {
  max-width: 350px;
  width: 100%;
  padding: 0 1em;
  margin: 0;
}
.results-list li {
  list-style: none;
  line-height: 1.5;
}
.results-list em {
  background: moccasin;
}
