/* line 9, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
html {
  box-sizing: border-box; }

/* line 12, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 16, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  background: url("graphics/background.png") repeat; }

/* line 22, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
header {
  background-color: #1C688E; }

/* line 26, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
ul {
  margin: 0;
  padding: 0; }

/* line 31, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
li {
  list-style: none;
  display: flex; }

/* line 36, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
h4, h3 {
  text-transform: capitalize; }

/* line 40, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
a {
  text-decoration: none;
  color: #000; }

/* line 45, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
.main-wrapper {
  width: 80%;
  margin: 50px auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  position: relative; }

/* line 52, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
main {
  background-color: #fff;
  display: flex;
  position: relative;
  min-height: 100vh; }

/* line 60, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
.loader-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7); }

/* line 67, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
.loader {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  font-size: 50px;
  opacity: .6;
  animation: spin 1s linear infinite;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #1C688E; }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* line 79, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
aside, .hits-container {
  padding: 40px; }

/* line 83, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
aside {
  flex: 1;
  border-right: 1px solid #E6E6E6; }

/* line 88, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
.fade {
  opacity: .5; }

/* line 93, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
.stars, .stars-active {
  display: inline-block;
  width: 75px;
  height: 15px;
  background-image: url("graphics/star-empty.png");
  background-repeat: repeat-x;
  background-size: contain; }

/* line 102, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
.stars-active {
  background-image: url("graphics/stars-plain.png"); }

/* line 108, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
#search-box {
  margin: 21px 25px;
  padding: 15px;
  width: calc(100% - 50px);
  border: 2px solid #d6d6d6;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 15px; }
  /* line 116, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
  #search-box::placeholder {
    opacity: 0.4; }

/* line 122, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
aside li {
  margin: 2px 0; }
  /* line 124, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
  aside li:hover a, aside li.refined a {
    background: #1C688E;
    border-radius: 3px;
    color: #fff; }

/* line 131, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
aside li a {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  color: #000;
  width: calc(100% - 20px);
  position: relative; }

/* line 140, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
[data-attribute="rating"] .facet-value {
  display: none; }

/* line 145, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
.hits-border {
  height: 1px;
  display: inline-block;
  width: 60%;
  background-color: #E6E6E6; }

/* line 152, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
#hits-info {
  margin: 0 0 20px;
  display: inline-block;
  width: 39%;
  font-weight: lighter; }

/* line 159, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
#hits {
  margin-top: 10px; }

/* line 163, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
#hits li {
  margin-bottom: 20px; }

/* line 167, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
#hits h3 {
  margin: 0;
  font-size: 16px; }

/* line 171, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
#hits h3, #hits p {
  padding-left: 30px;
  margin: 0 0 7px; }

/* line 175, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
#hits p {
  font-size: 14px; }

/* line 179, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
.hits-container {
  flex: 4;
  padding-right: 0;
  position: relative; }

/* line 184, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
.hit-image {
  height: 80px;
  flex: 0 0 80px;
  background-size: cover;
  background-position: center center;
  border: 1px solid #E6E6E6;
  border-radius: 3px; }

/* line 193, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
.hit-reviews span:first-child {
  color: #ffab66;
  margin-right: 10px; }

/* line 198, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
.hit-button__container {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 0 auto; }

/* line 205, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
.hits-button {
  text-transform: capitalize;
  padding: 10px 40px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.6);
  transition: all .3s ease; }
  /* line 212, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
  .hits-button:hover {
    background-color: #000;
    color: #fff;
    transition: all .3s ease;
    font-weight: lighter; }
  /* line 218, /Users/tobiweinstock/Documents/dev/code/se-project/assets/scss/main.scss */
  .hits-button.disabled {
    opacity: .3;
    pointer-events: none; }

/*# sourceMappingURL=../../scss */